body {
    font-family: Rubik,sans-serif;
    font-weight: 700;
}
img {
    border-radius: 7px;
    margin-left: 5px;
    margin-bottom: 9px;
}
#p1 {
    margin-top: 0ch;
    margin-left: 5px;
    font-size: 20px;
}
#d1 {
    display: inline;
    font-size: 13px;
    height: 13px;
    width: 18px;
    background-color: rgb(63, 175, 63);
    border-radius: 5px;
    padding: 4px;
    color: white;
}
#p2 {
    margin-left: 5px;
    font-size: 15px;
    display: inline;
    margin-right: 5px;
}
#hr1 {
    color: rgb(203, 197, 197);
    size: 5px;
    width: 300px;
}
#sp2 {
    color: grey;
}
#sp1 {
    color: rgb(89, 41, 152);
    margin-right: 4px;
}